<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="runinterval" value="60000" />
    <add key="queuehost" value="localhost" />
    <add key="BasePath" value="http://localhost/" />
    <add key="RabbitMQServiceName" value="RabbitMQ" />
    <add key="ServiceOperationsRetryCount" value="100" />
    <add key="ServiceStartRetryDelay" value="5000" />
    <add key="SqlCommandTimeout" value="60" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmailQueueDB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <system.web>
    <identity impersonate="true"/>
  </system.web>
</configuration>